<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key><string>扫描另一台设备的互传二维码，连接后传输文件和文字。</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>kuwo.cn</key>
        <dict>
          <key>NSIncludesSubdomains</key><true/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key><true/>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
